<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div th:fragment="table-of-jobs" >
    <table class="job-listing">
        <th:block th:each="job : ${jobs}">
            <tr>
                <td th:utext = "${'ID: ' + job.getId()} +
            '&lt;br /&gt;' + ${'Name: ' + job.getName()} +
            '&lt;br /&gt;' + ${'Employer: ' + job.getEmployer()} +
            '&lt;br /&gt;' + ${'Location: ' + job.getLocation()} +
            '&lt;br /&gt;' + ${'Position Type: ' + job.getPositionType()} +
            '&lt;br /&gt;' + ${'Skill: ' + job.getCoreCompetency()}"
                ></td>
            </tr>
        </th:block>
    </table>
    </div>

</body>
</html>